body{
  box-sizing: content-box;
  font-family: montserrat;
  margin: 0;
}
.contentContainer{
  width: 90%;
  padding:1%;

}


.cardsContainer{
  color: black;
  text-align: center;
  margin: 10%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  grid-column-gap: 2%;
  justify-content: center;

}
