body{
  box-sizing: content-box;
  font-family: montserrat;
  margin: 0;
}

.cardsContainer{
  color: black;
  text-align: center;
  justify-content: center;
}

@media (min-width: 1200px)
{
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 90%;
}
}
