.planetBox{
    background: aliceblue;
    margin: 4%;
    transition: .4s;
}
.planetBox:hover{
    background: #d7ecff;
    box-shadow: 0 10px 20px -8px rgba(255,255,255, .5);
    transition: .4s;
}
.backgroundImgStyle{

    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
/*.planetInBox{
    width: 88%;
    padding: 6%;
}*/
.titleStyle{
    padding: 4%;
    font-size: 16px;
    font-weight: 500;
}